<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes 2 Go</title>
    <style>
  div {
  border: .08px solid #FFFFFF;
  padding: 12%;
  font-size: 16px;
  text-align: center;
  background: white;
  }
</style>
</head>
<body style="background-color:#E8E8E8;">
<header> <a href="/">All or Home</a>
           <a href="/general">General <a/>
           <a href="/spongebob">SpongeBob<a/>
           <a href="/stat-wars"> Star Wars</a>
           <a href="/cats">Cats<a/>
           <a href="/dogs">Dogs<a/>
           <a href="/anime">Anime<a/>
           <a href="/history">History<a/>
           <a href="/roses">Roses Are Red...<a/>
           <a href="/Infomercial">Infomercial<a/>
           <a href="/stock">Stock<a/>
           <a href="/tweets">Tweets<a/>
           <a href="/starter-packs">Starter Packs<a/>
           <a href="/christian">Christian<a/>
           <a href="/relateable">Relatable<a/>
           <a href="/fellow-kids">FellowKids<a/>
</header>
   <table >
       <td width="30%">

       </td>

    <td width="40%">
{% block content %} {% endblock content %}
<td width="30%"></td>

   </table>

</body>
</html>